<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/signup/" method="post">
        {% csrf_token %}
        <label for="username">USERNAME</label>
        <input type="text" name="username" id="username" required><br>
        <label for="email">EMAIL</label>
        <input type="email" name="email" id="email" required><br>
        <label for="password1">PASSWORD</label>
        <input type="password" name="password1" id="password1" required><br>
        <label for="password2">Re-Enter PASSWORD</label>
        <input type="password" name="password2" id="password2" required><br>
        <input type="submit" value="SIGN-UP">
    </form>
    <div>
        <p>Already have an account ? <a href="/login/">Login</a></p>
    </div>
</body>
</html>